.flexbox {
  display: flex;
  flex-direction: row;
}

.light-blue {
  background-color: lightblue;
}

.light-pink {
  background-color: lightpink;
}

.item-1 {
  width: 50px;
}

.item-2 {
  flex: 1;
}

.item-3 {
  width: 75px;
}