body {
  height: 3000px;
}

.clothing-item {
  display: inline-block;
  position: relative;
  background-color: rgb(180, 180, 180);
}

.clothing-image {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  object-fit: cover;
}

.sale {
  position: absolute;
  top: 5px;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  background-color: black;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
}