.flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.column-1 {
  display: flex;
  flex: row;
  width: 100px;
  background-color: lightpink;
  justify-content: center;
  align-items: center;
}

.item-1 {
  background-color: black;
  color: white;
}

.column-2 {
  width: 200px;
  background-color: lightblue;
}