p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.price-text {
  font-size: 24px;
  margin-bottom: 6px;
}

.currency-text {
  font-size: 14px;
  color: rgb(117, 117, 117);
  margin-left: 2px;
}

.change-text {
  font-size: 14px;
  color: rgb(26, 141, 26);
  margin-bottom: 6px;
}

.after-hours-text {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.after-hours-change-text {
  color: rgb(180, 33, 33)
}